// px to rem
@function rem($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return calc($pixels / $context) * 1rem;
}

// Simple usage FLEXBOX
@mixin flex($horizontal: center, $vertical: center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin nav-background {
  color: $title-color;
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(22);
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

@mixin pricing-item{
  @include flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  min-width: 255px;
}

@mixin pricing-title{
  font-size: rem(24);
  color: $hover-color;
  background: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  padding: 30px 30px;
  width: 100%;
  text-align: center;
  height: 100%;
}

@mixin pricing-price{
  font-size: rem(60);
  line-height: rem(90);
  color: $hover-color;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

@mixin pricing-subtitle{
  font-size: rem(14);
  line-height: rem(18);
  color: $hover-color;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
}

@mixin pricing-after{
  content:"";
  width:60px;
  height: 5px;
  background: #8D81AC;
  position: absolute;
  top: 54px;
  left: 96px;
}

@mixin pricing-text{
  font-size: rem(16);
  line-height: rem(18);
  color: $hover-color;
  text-align: center;
  margin-bottom: 65px;
  text-transform: capitalize;
  width: 100%;
  max-width:240px;
  height:44px;
}

@mixin pricing-link{
  display: inline-block;
  font-size: rem(15);
  color: $hover-color;
  padding: 15px 35px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 35px;
  cursor: pointer;
}